@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: var(--font-montserrat);
}

body {
  color: rgb(var(--foreground-rgb));
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-bebas);
}

button,
a {
  font-family: var(--font-bebas);
  /* text-transform: uppercase; */
  font-weight: 700;
}

span {
  color: white;
}

hr {
  display: none;
}
